<footer class="footer">
    <div class="footer-inner">
        <div class="copyright" style="display: inline-block">&copy; 2018 &mdash; <span
                itemprop="copyrightYear">2030</span>
            <span class="author">cloudleo</span>
            &nbsp;&nbsp; | &nbsp;&nbsp;
            <a href="https://beian.miit.gov.cn" target="_blank">蜀ICP备2022010137号</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;
            <a href="https://github.com/cloud-leo" target="_blank">Github</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;
            <a href="https://www.cloudleo.cn/" target="_blank">Blog</a>
        </div>
    </div>
</footer>
